/* box sizing */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* vars */
:root {
	--line-height: 1.5;
	--fs: 19px;
	--fs-h1: 2rem;
	--fs-h2: 1.6rem;
	--fs-h3: 1.4rem;
	--size: 0.5rem;
	--size-container: 45rem;
}
@media (prefers-color-scheme: light) {
	:root,
	:host {
		color-scheme: light;
		--c-bg: deepskyblue;
		--c-bg--secondary: green;
		--c-fg: black;
		--c-link: chartreuse;
		--c-fg--error: red;
	}
}
@media (prefers-color-scheme: dark) {
	:root,
	:host {
		color-scheme: dark;
		--c-bg: indigo;
		--c-bg--secondary: darkolivegreen;
		--c-fg: black;
		--c-link: turquoise;
		--c-fg--error: red;
	}
}

/* document */
html {
	line-height: var(--line-height);
	font-size: var(--fs);
	color: var(--c-fg);
	background-color: var(--c-bg);
}

@media (max-width: 40rem) {
	html {
		font-size: 1rem;
	}
}

body {
	margin: 0;
	min-height: 100vh;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* typography */
h1,
h2,
h3,
p {
	margin-top: 0;
	margin-bottom: calc(var(--size) / 2);
}
h1 {
	font-size: var(--fs-h1);
}
h2 {
	font-size: var(--fs-h2);
}
h3 {
	font-size: var(--fs-h3);
}

img {
	max-width: 100%;
}

a,
a:active,
a:visited {
	color: var(--c-link);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

input {
	padding: var(--size);
	font-size: 1rem;
	width: 100%;
}

/* matrix web components (@sctlib/mwc) */
matrix-profile {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

matrix-avatar {
	display: inline-flex;
}
matrix-avatar {
	width: 100%;
}

matrix-actor {
	padding: var(--size);
	border-radius: var(--size);
	background-color: var(--c-bg--secondary);
	a {
		display: inline-flex;
	}
	output {
		background-color: var(--c-fg--error);
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		padding: var(--size);
	}
}
matrix-actor-profile {
	display: flex;
	flex-direction: column;
	align-items: center;
}
